* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
}

:root {
  --main-background: #E5E5E5;
  --secand-color: #cddc39;
}

/* contenar */
.contenar {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .contenar {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .contenar {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .contenar {
    width: 1170px;
  }
}
/* end */

header {
  background: var(--background);
}

header .one-line {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  width: 100%;
}

header .one-line .logo {
  width: 80px;
}

header .one-line .logo a {
  text-decoration: none;
  color: var(--secand-color);
}

header .one-line .logo h1 {
  margin: 0 10px 0 0;
}

header .one-line .search {
  width: calc((100% - 80px) / 1.34);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .one-line .search select,
header .one-line .search input {
  height: 25px;
  margin: 0 5px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: var(--main-background);
}

header .one-line .search input {
  width: 300px;
}

header .one-line .search div {
  position: relative;
}

header .one-line .search i {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
}


header .one-line .search input:focus {
  outline: 3px solid var(--secand-color);
}


header .one-line .info-acount {
  width: calc((100% - 80px) / 4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .one-line .info-acount .icon {
  margin: 0 15px;
  padding: 10px;
  background: var(--main-background);
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .one-line .info-acount .icon:last-child {
  margin-right: 0;
}

header .two-line nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header .two-line nav ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: aqua;
  font-size: 18px;
}


header .two-line nav ul li.active a {
  color: var(--secand-color);
}

header .two-line nav ul li a:hover {
  color: var(--secand-color);
}

main .data .contenar {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(255px ,1fr));
  gap: 30px;
}

main .data .contenar .card {
  box-shadow: 0 0 1px 0 rgb(33, 33, 36);
}

main .data .contenar .card .image img {
  max-width: 100%;
}

main .data .contenar .card .desc h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--secand-color);
  padding: 10px 5px;
}

main .data .contenar .card .desc h2 .amount {
  color: black;
  font-weight: 400;
  font-size: 14px;
  padding-left: 5px;
}

main .data .contenar .card .desc p {
  font-size: 16px;
  padding: 5px 10px;
}

main .data .contenar .card .chang {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .data .contenar .card .chang button {
  width: 50px;
  padding: 5PX 10px;
  margin: 10px auto;
  background: var(--secand-color);
  border: none;
  color: aqua;
}

.window {
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.529);
  position: fixed;
  top: 0;
  left: 0;
}

.window-fixed {
  width: fit-content;
  padding: 50px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}